main{
    margin-top: 56px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.project-one{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 5%;
}

.project-two{
    display: flex;
    background-color: rgb(58, 111, 120);
    align-items: center;
    padding-right: 5%;
}

.project-thre{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 5%;
}

img{
    width: 30%;
}