main{
    margin-top: 56px;
}

.project-one{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 5%;
}

.project-two{
    display: flex;
    background-color: rgb(58, 111, 120);
    align-items: center;
    padding-left: 5%;
}

.project-thre{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 5%;
}

article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /* padding-right: 10%; */
}

img{
    width: 30%;
}